<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clients</key>
	<array>
		<dict>
			<key>name</key>
			<string>马</string>
			<key>sex</key>
			<integer>0</integer>
			<key>phone</key>
			<string>13281865556</string>
			<key>estateType</key>
			<integer>0</integer>
			<key>paymentType</key>
			<integer>1</integer>
			<key>history</key>
			<array>
				<dict>
					<key>date</key>
					<date>2011-03-27T04:00:00Z</date>
					<key>action</key>
					<integer>2</integer>
					<key>houses</key>
					<array>
						<dict>
							<key>floor</key>
							<integer>22</integer>
							<key>layout</key>
							<dict>
								<key>name</key>
								<string>D1</string>
								<key>id</key>
								<integer>1</integer>
							</dict>
							<key>position</key>
							<dict>
								<key>name</key>
								<string>2号楼1单元1号</string>
								<key>id</key>
								<integer>1</integer>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>date</key>
					<date>2011-03-25T04:00:00Z</date>
					<key>action</key>
					<integer>1</integer>
					<key>houses</key>
					<array>
						<dict>
							<key>floor</key>
							<integer>22</integer>
							<key>layout</key>
							<dict>
								<key>name</key>
								<string>D1</string>
								<key>id</key>
								<integer>1</integer>
							</dict>
							<key>position</key>
							<dict>
								<key>name</key>
								<string>2号楼1单元1号</string>
								<key>id</key>
								<integer>1</integer>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>date</key>
					<date>2011-03-23T04:00:00Z</date>
					<key>action</key>
					<integer>0</integer>
					<key>houses</key>
					<array>
						<dict>
							<key>layout</key>
							<dict>
								<key>name</key>
								<string>D1</string>
								<key>id</key>
								<integer>1</integer>
							</dict>
						</dict>
						<dict>
							<key>layout</key>
							<dict>
								<key>name</key>
								<string>D2</string>
								<key>id</key>
								<integer>2</integer>
							</dict>
						</dict>
						<dict>
							<key>layout</key>
							<dict>
								<key>name</key>
								<string>L1</string>
								<key>id</key>
								<integer>3</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
			<key>comments</key>
			<string>这里是备注</string>
		</dict>
	</array>
</dict>
</plist>
