<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>consultant</key>
		<integer>1</integer>
		<key>estateType</key>
		<integer>0</integer>
		<key>follows</key>
		<array/>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>马</string>
		<key>orders</key>
		<array/>
		<key>phone</key>
		<string>13281865556</string>
		<key>purchases</key>
		<array/>
		<key>sex</key>
		<integer>0</integer>
		<key>wishes</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>consultant</key>
		<integer>1</integer>
		<key>estateType</key>
		<integer>0</integer>
		<key>follows</key>
		<array/>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>刘</string>
		<key>orders</key>
		<array>
			<integer>1</integer>
		</array>
		<key>phone</key>
		<string>18608049950</string>
		<key>purchases</key>
		<array/>
		<key>sex</key>
		<integer>1</integer>
		<key>wishes</key>
		<array>
			<integer>3</integer>
		</array>
	</dict>
	<dict>
		<key>consultant</key>
		<integer>1</integer>
		<key>estateType</key>
		<integer>0</integer>
		<key>follows</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>徐</string>
		<key>orders</key>
		<array/>
		<key>phone</key>
		<string>13583745932</string>
		<key>purchases</key>
		<array/>
		<key>sex</key>
		<integer>1</integer>
		<key>wishes</key>
		<array/>
	</dict>
	<dict>
		<key>consultant</key>
		<integer>1</integer>
		<key>estateType</key>
		<integer>0</integer>
		<key>follows</key>
		<array/>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>邓</string>
		<key>orders</key>
		<array/>
		<key>phone</key>
		<string>13693472643</string>
		<key>purchases</key>
		<array/>
		<key>sex</key>
		<integer>0</integer>
		<key>wishes</key>
		<array/>
	</dict>
	<dict>
		<key>consultant</key>
		<integer>1</integer>
		<key>estateType</key>
		<integer>0</integer>
		<key>follows</key>
		<array/>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>沈</string>
		<key>orders</key>
		<array/>
		<key>phone</key>
		<string>13980098247</string>
		<key>purchases</key>
		<array/>
		<key>sex</key>
		<integer>1</integer>
		<key>wishes</key>
		<array/>
	</dict>
	<dict>
		<key>consultant</key>
		<integer>1</integer>
		<key>estateType</key>
		<integer>0</integer>
		<key>follows</key>
		<array/>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>李</string>
		<key>orders</key>
		<array/>
		<key>phone</key>
		<string>13281865556</string>
		<key>purchases</key>
		<array/>
		<key>sex</key>
		<integer>0</integer>
		<key>wishes</key>
		<array/>
	</dict>
	<dict>
		<key>consultant</key>
		<integer>1</integer>
		<key>estateType</key>
		<integer>0</integer>
		<key>follows</key>
		<array/>
		<key>id</key>
		<integer>7</integer>
		<key>name</key>
		<string>小龙</string>
		<key>orders</key>
		<array/>
		<key>phone</key>
		<string>13281865556</string>
		<key>purchases</key>
		<array/>
		<key>sex</key>
		<integer>0</integer>
		<key>wishes</key>
		<array/>
	</dict>
	<dict>
		<key>consultant</key>
		<integer>1</integer>
		<key>estateType</key>
		<integer>0</integer>
		<key>follows</key>
		<array/>
		<key>id</key>
		<integer>8</integer>
		<key>name</key>
		<string>马克卢</string>
		<key>orders</key>
		<array/>
		<key>phone</key>
		<string>13281865556</string>
		<key>purchases</key>
		<array/>
		<key>sex</key>
		<integer>0</integer>
		<key>wishes</key>
		<array/>
	</dict>
	<dict>
		<key>consultant</key>
		<integer>1</integer>
		<key>estateType</key>
		<integer>0</integer>
		<key>follows</key>
		<array/>
		<key>id</key>
		<integer>9</integer>
		<key>name</key>
		<string>竞总</string>
		<key>orders</key>
		<array/>
		<key>phone</key>
		<string>13281865556</string>
		<key>purchases</key>
		<array/>
		<key>sex</key>
		<integer>0</integer>
		<key>wishes</key>
		<array/>
	</dict>
	<dict>
		<key>consultant</key>
		<integer>1</integer>
		<key>estateType</key>
		<integer>0</integer>
		<key>follows</key>
		<array/>
		<key>id</key>
		<integer>10</integer>
		<key>name</key>
		<string>妖怪</string>
		<key>orders</key>
		<array/>
		<key>phone</key>
		<string>13281865556</string>
		<key>purchases</key>
		<array/>
		<key>sex</key>
		<integer>0</integer>
		<key>wishes</key>
		<array/>
	</dict>
	<dict>
		<key>consultant</key>
		<integer>1</integer>
		<key>estateType</key>
		<integer>0</integer>
		<key>follows</key>
		<array/>
		<key>id</key>
		<integer>11</integer>
		<key>name</key>
		<string>小五</string>
		<key>orders</key>
		<array/>
		<key>phone</key>
		<string>13281865556</string>
		<key>purchases</key>
		<array/>
		<key>sex</key>
		<integer>0</integer>
		<key>wishes</key>
		<array/>
	</dict>
	<dict>
		<key>consultant</key>
		<integer>1</integer>
		<key>estateType</key>
		<integer>0</integer>
		<key>follows</key>
		<array/>
		<key>id</key>
		<integer>12</integer>
		<key>name</key>
		<string>露露</string>
		<key>orders</key>
		<array/>
		<key>phone</key>
		<string>13281865556</string>
		<key>purchases</key>
		<array/>
		<key>sex</key>
		<integer>0</integer>
		<key>wishes</key>
		<array/>
	</dict>
</array>
</plist>
