<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>floor</key>
		<integer>5</integer>
		<key>id</key>
		<integer>17</integer>
		<key>layout</key>
		<integer>1</integer>
		<key>num</key>
		<string>21051</string>
		<key>position</key>
		<integer>1</integer>
		<key>price</key>
		<integer>438149</integer>
		<key>status</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>5</integer>
		<key>id</key>
		<integer>18</integer>
		<key>layout</key>
		<integer>2</integer>
		<key>num</key>
		<string>21052</string>
		<key>position</key>
		<integer>2</integer>
		<key>price</key>
		<integer>450063</integer>
		<key>status</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>5</integer>
		<key>id</key>
		<integer>19</integer>
		<key>layout</key>
		<integer>3</integer>
		<key>num</key>
		<string>21053</string>
		<key>position</key>
		<integer>3</integer>
		<key>price</key>
		<integer>506595</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>5</integer>
		<key>id</key>
		<integer>20</integer>
		<key>layout</key>
		<integer>4</integer>
		<key>num</key>
		<string>21054</string>
		<key>position</key>
		<integer>4</integer>
		<key>price</key>
		<integer>404786</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>4</integer>
		<key>id</key>
		<integer>13</integer>
		<key>layout</key>
		<integer>1</integer>
		<key>num</key>
		<string>21041</string>
		<key>position</key>
		<integer>1</integer>
		<key>price</key>
		<integer>507107</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>4</integer>
		<key>id</key>
		<integer>14</integer>
		<key>layout</key>
		<integer>2</integer>
		<key>num</key>
		<string>21042</string>
		<key>position</key>
		<integer>2</integer>
		<key>price</key>
		<integer>435632</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>4</integer>
		<key>id</key>
		<integer>15</integer>
		<key>layout</key>
		<integer>3</integer>
		<key>num</key>
		<string>21043</string>
		<key>position</key>
		<integer>3</integer>
		<key>price</key>
		<integer>395451</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>4</integer>
		<key>id</key>
		<integer>16</integer>
		<key>layout</key>
		<integer>4</integer>
		<key>num</key>
		<string>21044</string>
		<key>position</key>
		<integer>4</integer>
		<key>price</key>
		<integer>419706</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>3</integer>
		<key>id</key>
		<integer>9</integer>
		<key>layout</key>
		<integer>1</integer>
		<key>num</key>
		<string>21031</string>
		<key>position</key>
		<integer>1</integer>
		<key>price</key>
		<integer>473484</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>3</integer>
		<key>id</key>
		<integer>10</integer>
		<key>layout</key>
		<integer>2</integer>
		<key>num</key>
		<string>21032</string>
		<key>position</key>
		<integer>2</integer>
		<key>price</key>
		<integer>407282</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>3</integer>
		<key>id</key>
		<integer>11</integer>
		<key>layout</key>
		<integer>3</integer>
		<key>num</key>
		<string>21033</string>
		<key>position</key>
		<integer>3</integer>
		<key>price</key>
		<integer>486163</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>3</integer>
		<key>id</key>
		<integer>12</integer>
		<key>layout</key>
		<integer>4</integer>
		<key>num</key>
		<string>21034</string>
		<key>position</key>
		<integer>4</integer>
		<key>price</key>
		<integer>405117</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>2</integer>
		<key>id</key>
		<integer>6</integer>
		<key>layout</key>
		<integer>2</integer>
		<key>num</key>
		<string>21022</string>
		<key>position</key>
		<integer>2</integer>
		<key>price</key>
		<integer>399847</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>2</integer>
		<key>id</key>
		<integer>7</integer>
		<key>layout</key>
		<integer>3</integer>
		<key>num</key>
		<string>21023</string>
		<key>position</key>
		<integer>3</integer>
		<key>price</key>
		<integer>424873</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>2</integer>
		<key>id</key>
		<integer>8</integer>
		<key>layout</key>
		<integer>4</integer>
		<key>num</key>
		<string>21024</string>
		<key>position</key>
		<integer>4</integer>
		<key>price</key>
		<integer>478523</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>2</integer>
		<key>id</key>
		<integer>5</integer>
		<key>layout</key>
		<integer>1</integer>
		<key>num</key>
		<string>21021</string>
		<key>position</key>
		<integer>1</integer>
		<key>price</key>
		<integer>411025</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>1</integer>
		<key>id</key>
		<integer>1</integer>
		<key>layout</key>
		<integer>1</integer>
		<key>num</key>
		<string>21011</string>
		<key>position</key>
		<integer>1</integer>
		<key>price</key>
		<integer>490744</integer>
		<key>status</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>1</integer>
		<key>id</key>
		<integer>2</integer>
		<key>layout</key>
		<integer>2</integer>
		<key>num</key>
		<string>21012</string>
		<key>position</key>
		<integer>2</integer>
		<key>price</key>
		<integer>408779</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>1</integer>
		<key>id</key>
		<integer>3</integer>
		<key>layout</key>
		<integer>3</integer>
		<key>num</key>
		<string>21013</string>
		<key>position</key>
		<integer>3</integer>
		<key>price</key>
		<integer>428748</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>floor</key>
		<integer>1</integer>
		<key>id</key>
		<integer>4</integer>
		<key>layout</key>
		<integer>4</integer>
		<key>num</key>
		<string>21014</string>
		<key>position</key>
		<integer>4</integer>
		<key>price</key>
		<integer>482122</integer>
		<key>status</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
