<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>batch</key>
		<integer>1</integer>
		<key>desc</key>
		<string>3室2厅2卫1厨 </string>
		<key>floorArea</key>
		<real>125</real>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>J1</string>
		<key>pics</key>
		<string>layout-1.jpg;layout-pic-1.jpg;layout-pic-2.jpg;layout-pic-3.jpg;layout-pic-4.jpg;layout-pic-5.jpg;layout-pic-6.jpg;layout-pic-7.jpg;layout-pic-8.jpg;layout-pic-9.jpg;layout-pic-10.jpg</string>
		<key>poolArea</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>batch</key>
		<integer>1</integer>
		<key>desc</key>
		<string>3室2厅1卫1厨</string>
		<key>floorArea</key>
		<real>101</real>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>J2</string>
		<key>pics</key>
		<string>layout-2.jpg;layout-pic-1.jpg;layout-pic-2.jpg;layout-pic-3.jpg;layout-pic-4.jpg;layout-pic-5.jpg;layout-pic-6.jpg;layout-pic-7.jpg;layout-pic-8.jpg;layout-pic-9.jpg;layout-pic-10.jpg</string>
		<key>poolArea</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>batch</key>
		<integer>1</integer>
		<key>desc</key>
		<string>3室2厅2卫1厨</string>
		<key>floorArea</key>
		<integer>110</integer>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>J3</string>
		<key>pics</key>
		<string>layout-3.jpg;layout-pic-1.jpg;layout-pic-2.jpg;layout-pic-3.jpg;layout-pic-4.jpg;layout-pic-5.jpg;layout-pic-6.jpg;layout-pic-7.jpg;layout-pic-8.jpg;layout-pic-9.jpg;layout-pic-10.jpg</string>
		<key>poolArea</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>batch</key>
		<integer>1</integer>
		<key>desc</key>
		<string>4室2厅2卫1厨</string>
		<key>floorArea</key>
		<integer>139</integer>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>J4</string>
		<key>pics</key>
		<string>layout-4.jpg;layout-pic-1.jpg;layout-pic-2.jpg;layout-pic-3.jpg;layout-pic-4.jpg;layout-pic-5.jpg;layout-pic-6.jpg;layout-pic-7.jpg;layout-pic-8.jpg;layout-pic-9.jpg;layout-pic-10.jpg</string>
		<key>poolArea</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
