
.login-box {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -400px;
}

.login-body {
    width: 800px;
    height: 373px;
    background: url(../images/login-bg.jpg) no-repeat 0 0;
}

.login-box h1 {
    font-size: 32px;
    color: #666666;
    position: absolute;
    top: 45px;
    right: 90px;
}

.login-box .login-form {
    position: absolute;
    top: 100px;
    left: 505px;
}

.login-field {
    padding: 15px 0;
}

.login-field input.input-text {
    width: 200px;
    font-size: 16px;
    padding: 5px 3px;
    border: 1px solid #cccccc;
    color: #cccccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.login-field input.input-text-active {
    color: #333333;
}

.login-field label {
    float: left;
    width: 50px;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    padding: 7px 15px 6px 0;
}

.login-field .input-text {
    line-height: 20px;
    padding: 1px 0;
}

.login-buttons {
    padding: 10px 0 0 0;
}

.login-buttons a {
    margin: 0 20px 0 0;
}

.login-buttons a.link {
    float: left;
    display: block;
    padding: 10px 0;
}

.register-tip {
    font-size: 14px;
    position: absolute;
    top: 310px;
    left: 505px;
}

.register-tip a {
    font-size: 18px;
}

.login-footer {
    padding: 15px 0 0 0;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    color: #999999;
}

.login-footer a {
    color: #999999;
}